# Configuração do MongoDB
MONGODB_URL=mongodb+srv://username:password@cluster-url.mongodb.net/database-name?retryWrites=true&w=majority

# Porta do Servidor  
PORT=3000

# Chave secreta para JWT
JWT_SECRET=your-secret-key-change-in-production
